<div class="container">
	<!-- Used for future plans for multiple wallets -->
    <!-- <button (click)="generateNewWallet()" class="btn btn-primary float-right">
      Create New Wallet
	</button> -->
	
	<h1>Wallet details</h1>

	<!-- Already set up for future plans of multiple wallets -->
	<!-- <div *ngFor="let wallet of publicWallets"> -->

	<p style="word-wrap:break-word;">
		<strong>Address:</strong>
		<br>
		{{publicWallets[0].publicKey}}
	</p>

	<p>
		<strong>Balance:</strong>
		<br>
		<img src="assets/img/logo-savjee.svg" width="25" height="25"> {{ publicWallets[0].balance }}
	</p>

	<hr>

	<h1>Transactions</h1>
	<p *ngIf="transactions.length === 0">This wallet has made no transactions (yet)</p>
	<app-transactions-table
		[transactions]="publicWallets[0].transactions"
		*ngIf="publicWallets[0].transactions.length > 0"
	></app-transactions-table>

	<!-- </div> -->

</div>