<div class="container">
  <h1>Settings</h1>
  <p>Control how the blockchain behaves when new transactions or blocks are created. Changes are automatically saved.</p>

  <br>

  <div class="form-group">
    <label for="difficulty">Difficulty: {{ setDiff }}</label>
    <div class="range w-100">
      <input #difficulty type="range" class="form-range w-100" min="0" max="10" step="1" id="difficulty" aria-describedby="difficultyHelp" [(ngModel)]="blockchain.difficulty" (ngModelChange)="updateDiffLabel(difficulty.value);">
    </div>
    <small id="difficultyHelp" class="form-text text-muted">
      Difficulty controls how long the mining process takes. Higher numbers will make mining a lot slower!
      <br>We put a limit of 10 just for demonstrational purposes. This can actually go up to 64!
    	<br>Default: 2
    </small>
  </div>

  <br>

  <div class="form-group">
    <label for="miningReward">Mining reward</label>
    <input type="number" class="form-control" id="miningReward" aria-describedby="miningRewardHelp" [(ngModel)]="blockchain.miningReward">
    <small id="miningRewardHelp" class="form-text text-muted">
		How much "coins" a miner receives for successfully creating a new block for the chain.
		<br>Default: 100
    </small>
  </div>

</div>
