<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/img/logo-savjee.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    &nbsp;SavjeeCoin
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <hr>
    <ul class="navbar-nav ml-auto">
      <!-- Used to put items on right side-->
    </ul>
    <ul class="navbar-nav ml-auto float-right">
      <li class="nav-item">
        <button class="btn btn-outline-info" routerLink="/new/transaction/pending" *ngIf="thereArePendingTransactions()">
          Pending transactions
          <span class="badge badge-light">{{blockchain.pendingTransactions.length}}</span>
        </button>
      </li>
      <li class="nav-item ml-2">
        <button class="btn btn-outline-primary" routerLink="/new/transaction">
          <span>&#43;</span> Create transaction
        </button>
      </li>
      <li class="nav-item ml-2">
        <button class="btn btn-outline-light">
          My Wallet
        </button>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" routerLink="/settings">
          <i class="fa fa-gear" style="font-size:24px;"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<br>

<div class="container" *ngIf="showInfoMessage === true">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">First things first.</h4>
    This tool gives you the ability to look behind-the-scenes of a blockchain. You can create transactions, mine blocks and see how they all work together. Go ahead, make some transactions, mine a block, tweak the settings and see the effects of your actions in real-time.
    <hr>
    <a href="https://github.com/Savjee/savjeecoin-frontend">Source code</a> - Based on <a href="https://github.com/SavjeeTutorials/SavjeeCoin">my Javascript blockchain</a>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismissInfoMessage()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<router-outlet></router-outlet>

<footer class="text-muted text-center" style="margin-top: 150px;">
  <small>For educational purposes only.<br>
  <a href="https://github.com/Savjee/savjeecoin-frontend" target="_blank">Source code</a></small>
</footer>
